python-dotenv
openai==1.59.6
langfuse==2.57.1
pandas
matplotlib
seaborn
regex
langchain==0.3.14
langchain-openai==0.2.14
langchain-community==0.3.14
langchain-core==0.3.29
chromadb
networkx
pyvis
python-docx
openpyxl
plotly
pydantic>=2.0
tenacity
rich
gradio
numpy
fastapi
uvicorn
